
*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(./../img/bg.jpg);    
}

.form {
    width: 310px;
    margin: auto; 
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.form .field {

    position: relative; 
    display: flex;
    margin-right: 3px;
    margin-left: -20px; 
}

.form .field i {
    left: 0px;
    top: 0px;
    position: absolute;
    color: #777777;
    text-align: center;
    line-height: 42px;
    transition: all 0.3s ease-out;
    pointer-events: none;
}

.form input[type=text],
.form input[type=password] {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    padding: 10px 18px 10px 8px;
    border-color: #292929;
    border-radius: 5px;
    background: #2b2b2b;
    transition: color 0.3s ease-out;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.26);
    border: 2px solid rgba(255, 255, 255, 0.08);
}

.form input[type=text] {
    margin-bottom: 10px;
}

.form button[type=submit]:focus {
    outline: none;
}

.form .submit-wrap {
    width: 65px;
    height: 65px;
    position: absolute;
    top: 14px;
    right: -25px;
    padding: 7px;
    z-index: 2;
    border-radius: 50%;
    background-image: url(./../img/bg.jpg)  

}

.form .submit:after {
    width: 10px;
    height: 10px;
    position: absolute;
    top: -2px;
    left: 30px;
    background: #ffffff;
    box-shadow: 0 62px white, -32px 31px white;
}

.form button  {
    width: 42px;
    height: 42px;
    font-size: 1.75em;
    line-height: 1.6;
    color: white;
    border: none;
    border-radius: inherit;
    background: #52cfeb; 
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#0496c2), to(#00a2d3));
    background: linear-gradient(#0496c2, #00a2d3);
    box-shadow: 
        inset 0 1px 0 rgba(255,255,255,0.3),
        0 1px 2px rgba(0,0,0,0.35),
        inset 0 3px 2px rgba(255,255,255,0.2),
        inset 0 -3px 2px rgba(0,0,0,0.1);
    cursor: pointer;

}

.form button:hover,
.form button[type=submit]:focus {
    background: #0496c2;
    transition: all 0.3s ease-out;
}

.form button:active {
    background: #00a2d3;
    box-shadow: 
        inset 0 0 5px rgba(0,0,0,0.3),
        inset 0 3px 4px rgba(0,0,0,0.3);
}

.pass {
    font-size: 14px;
    color: #6296b4;
    margin-left: 57px;
}

.submit {
    width: 52px;
    height: 52px;
    padding: 4px;
    box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.08);
    background-image: url(./../img/bg.jpg);
    border-radius: inherit;
}

.submit-form {
    background-color: #2b2b2b;
    border-radius: inherit;
}

label {
    color: #b5b5b5;
    display: inline-block;
    width: 20px;
    font-size: 16px;
}

.input-title {
    width: 100px;
    margin-top: 10px;
    margin-left: 1px;
}